
.App {
  height: 80vh;
  background-color: lightgray;
  display: grid;  
  grid-template-areas:
    "a b c d" 
    "a f f f"
    "a f f f" ;
  grid-auto-rows: minmax(150px, auto);
  grid-template-columns: repeat(4, 1fr) ;
  grid-gap: 10px;
  justify-content: center;
  padding: 30px 20px;
}

.dashboard{
  grid-area: a;
  background: rgb(190,189,189);
  height: 100%;   
  text-align: center;
  align-content: center;
  justify-content: space-between;  
  font-size: large;
}
.review{
  background: rgb(190,189,189);
  grid-area: b;
  padding: 1rem;
} 
.rating{
  background: rgb(190,189,189);
  grid-area: c;
  padding: 1rem;
  
}
.analysis{
  background: rgb(190,189,189);
  grid-area: d;
  padding: 1rem;
}
.visitors{
  background: rgb(190,189,189);
  grid-area: f;
  text-align: center;
  padding: 1rem;
}
.comment{
  background: darkgrey;
  height: 60%;
  margin: 1rem;
  padding: 1rem;
 
}